@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Google Material Symbols (new) icon-font
 */
.msicon {
  font-family: "Material Symbols Outlined";
  color: currentColor;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
/**
 * Remove focus styles for non-keyboard focus.
 */
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
textarea:focus,
input:focus {
  @apply outline
  outline-1
  outline-offset-0;
}
/**
 * Cross-browser styles for explicit focus via
 * keyboard-based (eg Tab) navigation or the
 * .focus-visible utility class.
 */
:focus,
.focus-visible:focus:not(:focus-visible) {
  @apply outline
  outline-1
  outline-focus-outline;
}
a {
  @apply hover:bg-bg-component-hover;
}
/**
 * components and css using tailwind css
 */
@layer components {
  body {
    @apply text-text-primary;
  }
  /* Button */
  .bbsButton {
    @apply flex
    w-max
    gap-x-1.5
    rounded-md
    border
    border-border-component
    bg-white
    px-3
    py-1
    text-sm
    hover:bg-bg-component-hover
    active:bg-bg-component-active;
    &.disabled {
      @apply border-border-disabled
      cursor-not-allowed
      bg-bg-disabled
      text-text-disabled
      hover:bg-bg-disabled
      active:bg-bg-disabled
      !important;
    }
    &.full-width {
      @apply w-full;
    }
    &.bbsButton-primary {
      @apply bg-brand
      text-white
      hover:bg-brand/90
      active:bg-brand/80;
    }
    &.bbsButton-secondary {
      @apply bg-transparent
      hover:bg-bg-component-hover
      active:bg-bg-component-active;
    }
    /*
    Rounded tag button - best with a close end icon
    */
    &.bbsButton-tag-secondary {
      @apply rounded-3xl
      bg-white
      hover:bg-bg-component-hover
      active:bg-bg-component-active;
    }
    /* Menu item button -- supposed to in to a menu or top-nav */
    &.bbsButton-menu-item {
      @apply flex-col
      items-start
      gap-1
      rounded-none
      border-none
      px-4
      py-3
      text-left;
      > p {
        @apply flex
        w-full
        flex-row
        items-start
        gap-2;
        .text-label {
          @apply basis-full
          whitespace-nowrap
          text-left;
        }
      }
      &.selected {
        @apply shadow-selected-horizontal;
      }
    }
  }
  /* Menu or listbox -
  */
  .bbsMenu {
    @apply z-[100]
    flex
    min-w-[200px]
    max-w-[400px]
    flex-col
    items-start
    gap-1
    rounded-md
    border
    border-border
    bg-white
    p-1
    shadow-lg;
    .bbsButton-menu-item {
      @apply w-full;
      .bbsBadge {
        float: left;
      }
    }
  }
  /* Divider */
  hr {
    @apply h-[1px]
    w-full
    bg-bg-tertiary;
  }
  /* Global nav */
  .top-nav {
    @apply fixed
    top-0
    w-full
    border-b
    border-border
    bg-white;
    .top-nav-container {
      @apply relative
      flex
      max-w-screen-xl
      flex-row
      items-center
      gap-1
      align-middle;
    }
    .top-nav-logo {
      @apply flex
      flex-row
      items-center
      gap-2
      px-2;
      > div {
        @apply flex
        flex-row
        items-center
        gap-1;
      }
    }
  }
  .caption {
    @apply text-start
    text-xs
    text-text-secondary;
  }
  .input-wrapper {
    @apply relative
    h-full;
    > .icon-left {
      @apply pointer-events-none
      absolute
        left-2
        top-1
        inline-block
        cursor-text
        text-text-tertiary;
    }
  }
  input {
    @apply h-8
    w-[118px]
    rounded-3xl
    border
    border-border
    py-1
    pe-1
    ps-7
    text-xs
    placeholder-text-tertiary
    md:w-[260px];
  }
  .bbsBadge {
    @apply rounded-3xl
    border
    border-violet-800
    bg-violet-100
    px-1.5
    text-[10px]
    text-violet-800;
  }
  .footer {
    @apply flex
    max-w-screen-xl
    flex-col
    gap-1
    border-t
    border-border
    bg-bg-tertiary
    p-4;
  }
  /* Bootstrap tooltip */
  .tooltip {
    z-index: 1000;
  }
  /* end of the layer components */
}
