@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* support bootstrap  hack */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: var(--bs-btn-bg);
}

a.link {
  @apply tw-text-brand
  tw-underline;
}

:root {
  --bs-offcanvas-width: 600px;
  --bs-offcanvas-horizontal-width: 600px;
  --bs-table-striped-bg: #f8fafc;
}
.whosviewd {
  @apply tw-mt-2
  tw-overflow-clip
  tw-rounded-md
  tw-border
  tw-bg-bg-primary;
  table {
    .table-light {
      --bs-table-bg: #f1f5f9;
      --bs-table-border-color: #cbd5e1;
    }
    tr:nth-of-type(even) > * {
      background-color: #f8fafc;
    }
    tr:nth-of-type(odd) > * {
      --bs-table-striped-bg: white;
    }
    tr:last-child > td {
      border-color: transparent;
    }
    img {
      max-height: 60px;
      max-width: 100px;
      margin: auto;
    }
    td {
      vertical-align: middle;
    }
    a {
      @apply tw-text-brand;
    }
  }
  .emptylist {
    background-image: url(../assets/empty_list.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3rem;
    background-size: 150px;
    @apply tw-px-4
    tw-pb-12
    tw-pt-48
    tw-text-center
    tw-text-lg
    tw-text-text-secondary;
  }
}
.whosviewedNotEnabled {
  background-image: url("../assets/whosViewedNotEnabled.png");
  background-size: contain;
  background-repeat: no-repeat;
  @apply tw-overflow-clip tw-rounded-md tw-border;
  .backdrop {
    @apply tw-flex tw-h-full;
    .container {
      @apply tw-m-auto
      tw-my-28
      tw-max-w-[650px]
      tw-rounded-md
      tw-bg-brand
      tw-p-4
      tw-py-16
      tw-text-center
      tw-text-lg
      tw-text-text-primary-dark;
    }
  }
}
/**
 * Google Material Symbols (new) icon-font
 */
.msicon {
  font-family: "Material Symbols Outlined";
  text-align: center;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  flex-shrink: 0;
  flex-grow: 0;
  &.filled {
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}

/**
 * Remove focus styles for non-keyboard focus.
 */
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
textarea:focus,
input:focus,
select:focus {
  @apply tw-outline
  tw-outline-1
  tw-outline-offset-0;
}
textarea:disabled,
input:disabled,
select:disabled,
button:disabled {
  @apply tw-pointer-events-none
  tw-cursor-not-allowed
  tw-border-border-disabled
  tw-bg-bg-disabled
  tw-text-text-disabled
  !important;
}
/**
 * Cross-browser styles for explicit focus via
 * keyboard-based (eg Tab) navigation or the
 * .focus-visible utility class.
 */
:focus,
.focus-visible:focus:not(:focus-visible) {
  @apply tw-no-underline
  tw-outline
  tw-outline-1
  tw-outline-focus-outline
  !important;
}

a:hover,
a:focus {
  @apply tw-no-underline;
}
/**
 * components and css using tailwind css
 */
@layer components {
  body {
    @apply /*
    this is to make the sticky work, there
    is an overflow hidden in the legacy css file */ tw-overflow-x-visible
    tw-overflow-y-visible
    tw-text-text-primary;
    &.qa::after {
      content: "QA";
      @apply tw-pointer-events-none
        tw-fixed
        tw-left-[-30px]
        tw-top-[10px]
        tw-z-[100]
        tw-w-[100px]
        tw--rotate-45
        tw-border
        tw-border-error
        tw-border-opacity-25
        tw-bg-error
        tw-bg-opacity-25
        tw-p-0.5
        tw-text-center
        tw-text-xs
        tw-font-semibold
        tw-text-error;
    }
  }
  .offcanvas.offcanvas-end.search-criteria-offcanvas {
    @apply tw-w-[600px]
    tw-max-w-[80%];

    .offcanvas-header {
      @apply tw-border-b tw-border-border tw-p-2;
    }
    .offcanvas-body {
      @apply tw-bg-bg-secondary;
    }
  }
  /* Button */
  .bbsButton {
    @apply tw-flex
    tw-h-fit
    tw-w-max
    tw-items-center
    tw-justify-center
    tw-gap-x-1.5
    tw-whitespace-nowrap
    tw-rounded-md
    tw-border
    tw-border-border-component
    tw-bg-white
    tw-px-3
    tw-py-1
    hover:tw-bg-bg-component-hover
    active:tw-bg-bg-component-active;
    &.disabled,
    &:disabled {
      @apply tw-bg-bg-disabled
        tw-text-text-disabled
        hover:tw-bg-bg-disabled
        tw-border-border-component
        !important;
      .text-content {
        .label,
        .caption {
          @apply tw-text-text-disabled;
        }
      }
      &.new::after {
        @apply tw-text-text-disabled;
      }
    }
    &.full-width {
      @apply tw-w-full;
    }
    &.bbsButton-primary {
      @apply tw-border-brand
      tw-bg-brand
      tw-text-white
      hover:tw-bg-brand/90
      active:tw-bg-brand/80;
    }
    &.bbsButton-secondary {
      @apply tw-bg-transparent
      hover:tw-bg-bg-component-hover
      active:tw-bg-bg-component-active;
      &.filled {
        @apply tw-bg-bg-primary
        hover:tw-bg-bg-component-hover
        active:tw-bg-bg-component-active;
      }
      &.small {
        @apply tw-px-1.5
        tw-py-0.5
        tw-text-sm;
        .msicon {
          @apply tw-pt-[1px];
        }
      }
      &.pill {
        @apply tw-rounded-full
         tw-px-3;
      }
      &.round {
        @apply tw-h-10
        tw-w-10 tw-rounded-full;
      }
    }
    &.bbsButton-tertiary {
      @apply tw-border-0
      tw-bg-transparent
      hover:tw-bg-bg-component-hover
      active:tw-bg-bg-component-active;
      &.filled {
        @apply tw-bg-bg-primary
        hover:tw-bg-bg-component-hover
        active:tw-bg-bg-component-active;
      }
      &.small {
        @apply tw-px-1.5
        tw-py-0.5
        tw-text-sm;
        .msicon {
          @apply tw-pt-[1px];
        }
      }
    }
    /*
    Rounded tag button - best with a close end icon
    */
    &.bbsButton-tag-secondary {
      @apply tw-whitespace-break-spaces
      tw-rounded-3xl
      tw-bg-white
      hover:tw-bg-bg-component-hover
      active:tw-bg-bg-component-active;
      &.small {
        @apply tw-px-1.5
        tw-py-0.5
        tw-text-sm;
        .msicon {
          @apply tw-pt-[1px];
        }
      }
      &.smaller {
        @apply tw-px-1.5
        tw-py-0
        tw-text-xs;
        .msicon {
          @apply tw-pt-[1px];
        }
      }
      &.square {
        @apply tw-gap-1
        tw-rounded-[4px]
        tw-px-2
        tw-py-[4px]
        tw-text-sm;
        .msicon {
          @apply tw-pt-[1px];
        }
      }
      &.c-1,
      &.yellow,
      &.notes {
        /* 1	  |	Flower/Plant/Tree */
        @apply tw-border-yellow-700
        tw-bg-yellow-50
        tw-text-yellow-900
        hover:tw-bg-yellow-100
        active:tw-bg-yellow-200;
      }
      &.c-16,
      &.slate {
        /* 16	|	Food (non-produce) */
        @apply tw-border-slate-700
        tw-bg-slate-50
        tw-text-slate-900
        hover:tw-bg-slate-100
        active:tw-bg-slate-200;
      }
      &.c-37,
      &.red {
        /* 37	|	Fruit */
        @apply tw-border-red-700
        tw-bg-red-50
        tw-text-red-900
        hover:tw-bg-red-100
        active:tw-bg-red-200;
      }
      &.c-248,
      &.cyan,
      &.new {
        /* 248	|	Herb */
        @apply tw-border-cyan-700
        tw-bg-cyan-50
        tw-text-cyan-900
        hover:tw-bg-cyan-100
        active:tw-bg-cyan-200;
      }
      &.c-271,
      &.sky,
      &.watchdog {
        /* 271	|	Nut */
        @apply tw-border-sky-700
        tw-bg-sky-50
        tw-text-sky-900
        hover:tw-bg-sky-100
        active:tw-bg-sky-200;
      }
      &.c-287,
      &.purple,
      &.changed {
        /* 287	|	Spice */
        @apply tw-border-purple-700
        tw-bg-purple-50
        tw-text-purple-900
        hover:tw-bg-purple-100
        active:tw-bg-purple-200;
      }
      &.c-291,
      &.green,
      &.organic {
        /* 291	|	Vegetable */
        @apply tw-border-green-700
        tw-bg-green-50
        tw-text-green-900
        hover:tw-bg-green-100
        active:tw-bg-green-200;
      }
    }
    /* Menu item button -- supposed to in to a menu or top-nav */
    &.bbsButton-menu-item {
      @apply tw-flex-col
      tw-items-start
      tw-gap-1
      tw-whitespace-normal
      tw-rounded-none
      tw-border-none
      tw-px-4
      tw-py-2
      tw-text-left;
      > p {
        @apply tw-flex
        tw-w-full
        tw-flex-row
        tw-items-start
        tw-gap-2;
        .text-label {
          @apply tw-basis-full
          tw-whitespace-nowrap
          tw-text-left;
        }
      }
      &.selected {
        @apply tw-shadow-selected-horizontal;
      }
    }
  }

  .bbsButtonGroup {
    @apply tw-grid
    tw-grid-cols-2
    tw-gap-y-2
    lg:tw-grid-cols-4;

    .bbsButton {
      @apply tw-w-auto
      tw-rounded-none
      tw-border-r-0;
      &:first-child {
        @apply tw-rounded-l;
      }
      &:last-child {
        @apply tw-rounded-r
        tw-border-r;
      }
    }
    &.rounded {
      @apply tw-grid-cols-4;
      .bbsButton {
        &:first-child {
          @apply tw-rounded-l-full;
        }
        &:last-child {
          @apply tw-rounded-r-full;
        }
      }
    }
    &:not(.rounded) {
      &:nth-child(2n + 1) {
        @apply tw-rounded-l lg:tw-rounded-none;
      }

      &:nth-child(2n) {
        @apply tw-rounded-r tw-border-r
        lg:tw-rounded-none lg:tw-border-r-0;
      }
    }
  }

  .bbsButton-group-nowrap {
    @apply tw-flex
    tw-gap-y-2;

    .bbsButton {
      @apply tw-w-auto
      tw-rounded-none
      tw-border-r-0;
      &:first-child {
        @apply tw-rounded-l-xl;
      }
      &:last-child {
        @apply tw-rounded-r-xl
        tw-border-r;
      }
    }
  }

  /* Menu or listbox -
  */
  .dropdown-menu {
    @apply tw-rounded-md
    tw-border
    tw-border-border
    tw-bg-white
    tw-shadow-lg;
  }

  .bbs-mulSel {
    @apply tw-relative;
    .bbs-mulSel-input {
      @apply tw-flex;
      input {
        @apply tw-rounded-r-none
      !important;
      }
      .bbsButton {
        &.bbsButton-secondary {
          @apply tw-my-1
        tw-rounded-l-none
        tw-border-l-0
        tw-px-2
        tw-py-1;
        }
      }
    }
    .dropdown-menu {
      @apply tw-max-h-48
        tw-w-full
        tw-overflow-hidden
        tw-overflow-y-auto;

      li {
        &.selected {
          button {
            @apply tw-bg-bg-component-selected;
            .msicon {
              @apply tw-inline-block;
            }
          }
        }
        button {
          @apply tw-w-full
            tw-flex-row
            tw-justify-between;
          .msicon {
            @apply tw-hidden;
          }
        }
      }

      p.notfound {
        @apply tw-w-full
        tw-rounded
        tw-bg-red-100
        tw-p-1
        tw-text-sm
        tw-text-error;
      }
    }
  }

  /* Global nav */
  .top-nav {
    @apply tw-sticky tw-top-0
    tw-z-[100]
    tw-flex
    tw-w-full
    tw-items-center
    tw-justify-center
    tw-border-b
    tw-border-border
    tw-bg-white;
    &.dark {
      @apply tw-border-none
      tw-bg-brand;
      /* background: linear-gradient(180deg, #0062af 0%, #1a3d6c 100%); */
    }
    .top-nav-container {
      @apply tw-relative
      tw-flex
      tw-w-full
      tw-max-w-screen-xl
      tw-flex-row
      tw-items-center
      tw-gap-1
      tw-align-middle;
      > div {
        @apply tw-flex
        tw-align-middle;
      }
      /* .input-wrapper {
        input,
        select {
          @apply tw-w-[118px] md:tw-w-[300px];
        }
      } */
    }
    .top-nav-logo {
      @apply tw-flex
      tw-flex-row
      tw-items-center
      tw-gap-2
      tw-px-2;
      > div {
        @apply tw-flex
        tw-flex-row
        tw-items-center
        tw-gap-1
        tw-align-middle;
      }
    }
  }

  .nav-toggle-button {
    @apply lg:tw-hidden
    !important;
  }

  /* dropdown-item is a class from bootstrap 5.3
  needed to work with dropdown */
  .bbs-menu-item,
  .dropdown-item,
  .bbs-top-nav-item {
    @apply tw-flex
    tw-w-full
    tw-gap-2
    tw-py-2
    tw-pl-4
    tw-pr-3
    hover:tw-bg-bg-component-hover
    active:tw-bg-bg-component-active
    active:tw-text-text-primary;
    & > * {
      /* internal content of each child of menu item is vertically stacked */
      @apply tw-flex tw-flex-col;
    }
    .text-content {
      @apply tw-flex-grow
        tw-gap-1
        tw-text-left;
      .label {
        @apply tw-font-normal
          tw-text-text-primary;
      }
      .caption {
        @apply tw-flex
          tw-whitespace-normal
          tw-text-xs
          tw-text-text-secondary;

        .update {
          @apply tw-text-violet-800;
        }
      }
    }

    &.selected {
      @apply tw-bg-bg-component-active
        tw-text-brand;
      .text-content {
        .label {
          @apply tw-text-brand;
        }
      }
    }

    &.disabled,
    &:disabled {
      @apply tw-bg-bg-disabled
        tw-text-text-disabled;
      .text-content {
        .label,
        .caption {
          @apply tw-text-text-disabled;
        }
      }
      &.new::after {
        @apply tw-text-text-disabled;
      }
    }
    &.new::after {
      content: "NEW";
      @apply tw-self-center
        tw-text-xs
        tw-text-violet-800;
    }

    .bbsBadge {
      @apply tw-self-center;
    }
  }

  .bbs-top-nav-item {
    .text-content,
    .msicon.end {
      @apply tw-whitespace-nowrap max-lg:tw-hidden;
    }
  }

  .top-nav.dark {
    .bbs-top-nav-item {
      @apply tw-text-white
      hover:tw-bg-bg-component-hover-dark/50
      active:tw-bg-bg-component-active-dark/50
      active:tw-text-text-primary-dark;
      &.selected {
        @apply tw-bg-bg-component-active-dark/50;
      }
      .text-content {
        .label {
          @apply tw-text-text-primary-dark;
        }
        .caption {
          @apply tw-text-text-secondary-dark;
          .update {
            @apply tw-text-violet-200;
          }
        }
      }
    }
  }

  .bbs-menu-item {
    &.selected {
      @apply tw-shadow-selected-vertical;
    }
  }

  /* Depricated
  Use nav-sidebar instead */
  .left-sidebar {
    @apply tw-sticky
    tw-top-[40px]
    tw-max-w-[240px]
    tw-self-start
    tw-overflow-y-auto
    tw-border-x
    tw-border-border
    tw-bg-bg-primary
    max-sm:tw-p-0
    md:tw-w-full;
    height: calc(100vh - 40px);
    .bbsButton.bbsButton-menu-item {
      &.selected {
        @apply tw-bg-bg-component-active
        tw-text-brand
        tw-shadow-selected-vertical;
      }
      .text-label {
        @apply tw-whitespace-break-spaces
         max-sm:tw-hidden;
      }
      .bbsBadge,
      .new-bbsBadge {
        @apply max-sm:tw-hidden;
      }
    }
    .group-label {
      @apply tw-pointer-events-none
      tw-py-2
      tw-ps-2
      tw-text-text-secondary
      max-md:tw-hidden;
    }
  }

  /* Bootstrap override */
  .accordion-header {
    @apply tw-bg-bg-primary;
    .accordion-button {
      @apply tw-bg-none
        tw-px-4
        tw-py-2
        hover:tw-bg-bg-component-hover
      active:tw-bg-bg-component-active;
      background: none;
      &:not(.collapsed) {
        @apply tw-bg-none tw-shadow-none;
      }
      &::after {
        content: "expand_more";
        font-family: "Material Symbols Outlined";
        text-align: center;
        font-variation-settings:
          "FILL" 0,
          "wght" 400,
          "GRAD" 0,
          "opsz" 24;
        background: none;
      }
    }
  }

  .nav-sidebar {
    @apply /*
    */
    tw-fixed
    tw-top-0
    tw-h-full
    tw-max-w-[240px]
    tw-self-start
    tw-overflow-y-auto
    tw-border-x tw-border-border tw-bg-bg-primary
    max-sm:tw-p-0
    md:tw-w-full
    lg:tw-sticky
    lg:tw-top-[40px]
    lg:tw-h-[calc(100vh-40px)];
    @apply tw-bg-bg-primary
    !important;
    .bbsButton.bbsButton-menu-item {
      &.selected {
        @apply tw-bg-bg-component-active
        tw-text-brand
        tw-shadow-selected-vertical;
      }
      .text-label {
        @apply tw-whitespace-break-spaces;
      }
    }

    .group-label {
      @apply tw-pointer-events-none
      tw-py-2
      tw-ps-2
      tw-text-sm
      tw-text-text-secondary;
    }
  }

  /* Divider */
  hr {
    @apply tw-my-2
    tw-border-border
    tw-opacity-75;
    &.no-margin {
      @apply tw-m-0;
    }
  }

  .bbs-accordion {
    .bbs-accordion-item {
      .bbs-accordion-content {
        .content-wrapper {
          hr {
            @apply tw-mx-[-16px];
          }
        }
      }
    }
  }

  .caption {
    @apply tw-text-start
    tw-text-sm
    tw-text-text-secondary;
  }
  .input-wrapper {
    @apply tw-relative
    tw-flex
    tw-flex-col;
    > .icon-left {
      @apply tw-pointer-events-none
      tw-relative
      tw-left-6
      tw-cursor-text
      tw-text-text-tertiary;
    }
    input,
    select {
      @apply tw-my-1
      tw-rounded-md
      tw-border
      tw-border-border
      tw-px-2
      tw-py-1
      tw-placeholder-text-tertiary;

      &.pill {
        @apply tw-rounded-3xl;
      }
      &.full-width {
        @apply tw-w-full;
      }
    }

    &.dark {
      input {
        @apply tw-bg-transparent tw-text-white tw-placeholder-white/50 !important;
      }
    }
    &.light {
      input {
        @apply tw-bg-bg-primary tw-text-text-primary tw-placeholder-text-primary/50 !important;
      }
    }

    &.left-icon {
      @apply tw-flex
        tw-flex-row
        tw-items-center;
      input,
      select {
        @apply tw-ps-7;
      }
    }
  }

  label,
  .label {
    @apply tw-break-words

    tw-font-semibold;
    &.normal {
      @apply tw-font-normal;
    }
  }
  .help {
    @apply tw-ms-1 tw-mt-0.5 tw-text-text-secondary;
  }
  p.label {
    @apply tw-flex;
  }
  .bbs-radio-input,
  .bbs-checkbox-input {
    @apply tw-flex
    tw-items-baseline
    tw-gap-1.5;
    input {
      @apply tw-m-0 tw-p-0;
    }
    label:not(.strong) {
      @apply tw-m-0 tw-p-0 tw-font-normal;
    }
    &.small {
      label {
        @apply tw-text-sm;
      }
    }
  }
  .bbs-radio-input-group,
  .bbs-checkbox-input-group {
    @apply tw-mt-2
    tw-flex
    tw-flex-wrap
    tw-items-center
    tw-gap-x-5
    tw-gap-y-1;
    li {
      @apply tw-flex
        tw-items-baseline
        tw-gap-1.5;
      input[type="radio"] {
        @apply tw-m-0 tw-p-0 tw-pt-1;
      }
      label:not(.strong),
      .label:not(.strong) {
        @apply tw-m-0 tw-p-0 tw-font-normal;
      }
    }
    &.small {
      label,
      .label {
        @apply tw-text-sm;
      }
    }
  }
  .bbs-checkbox-input-group-col-2-small,
  .bbs-radio-input-group-col-2-small {
    @apply tw-mt-2
    tw-grid
    tw-grid-cols-2
    tw-flex-wrap
    tw-items-start
    tw-gap-x-5
    tw-gap-y-2
    tw-py-2;
    li {
      @apply tw-flex
        tw-items-start
        tw-gap-1.5;
      input[type="radio"] {
        @apply tw-m-0 tw-p-0 tw-pt-1;
      }
      input[type="checkbox"] {
        @apply tw-m-0 tw-mt-0.5 tw-p-0;
      }
      label:not(.strong),
      .label:not(.strong) {
        @apply tw-m-0 tw-p-0 tw-font-normal;
      }
      button {
        @apply tw-m-0 tw-text-xs;
      }
    }

    label,
    .label {
      @apply tw-text-sm;
    }
  }

  .bbsBadge {
    @apply tw-rounded-3xl
    tw-border
    tw-border-violet-800
    tw-bg-violet-50
    tw-px-1.5
    tw-text-xs
    tw-text-violet-800;
  }

  /* Main Content area between header and footer */
  .content {
    @apply tw-flex tw-w-full
    tw-items-center
    tw-justify-center
    tw-bg-bg-secondary;
    .content-container {
      @apply tw-flex
      tw-w-full
      tw-max-w-screen-xl;
      .main-content {
        @apply tw-w-full;
      }
    }
  }

  .tag {
    @apply /*
    */
    tw-flex
    tw-w-fit tw-gap-1
    tw-whitespace-nowrap tw-rounded-full
    tw-border
    tw-border-border
    tw-bg-bg-tertiary
    tw-px-2
    tw-py-0.5
    tw-text-xs;
    &.green {
      @apply tw-border-green-200
      tw-bg-green-50;
    }
  }

  h3,
  .text-title {
    @apply tw-text-lg
    tw-font-semibold;
  }

  h2 {
    @apply tw-mb-4
    tw-font-semibold;
  }

  h5 {
    @apply tw-text-base
    tw-font-semibold;
  }
  .text-base {
  }
  .text-sm {
    @apply tw-text-sm;
  }
  .text-xxs {
    @apply tw-text-xs;
  }

  .footer {
    @apply tw-flex
    tw-w-full
    tw-justify-center
    tw-border-t
    tw-border-border
    tw-bg-bg-tertiary
    tw-bg-cover
    tw-bg-no-repeat;
    background-image: url("../assets/liquid-cheese-4.svg");
    .social {
      @apply tw-w-6
      tw-text-center;
      > img {
        @apply tw-m-auto
        tw-h-4;
      }
      &:hover {
        @apply tw-bg-bg-component-hover;
      }
    }
    .footer-container {
      @apply tw-flex
      tw-w-full
      tw-max-w-screen-xl
      tw-flex-col
      tw-gap-1
      tw-p-4
      tw-pt-8;
    }
    .right-links {
      @apply tw-flex
      tw-items-center
      tw-gap-6
      tw-whitespace-nowrap
      tw-text-sm;
      > div {
        @apply tw-flex tw-flex-col tw-gap-2;
      }
    }
  }
  .bbs-list-panel {
    @apply tw-overflow-hidden
    tw-rounded-lg
    tw-border
    tw-border-border;
    .bbs-list-panel-heading {
      @apply tw-flex
      tw-w-full
      tw-gap-2
      tw-border-b
      tw-border-border
      tw-bg-bg-tertiary
      tw-p-3
      tw-font-semibold;
    }
  }

  .bbs-list-group table tbody tr:last-child {
    border: transparent;
    border: 0px solid transparent;
  }
  .bbs-list-group {
    @apply tw-bg-bg-primary;
    table {
      @apply tw-mb-0;
      tbody {
        tr {
          &:last-child {
            @apply tw-border-collapse
            tw-border-0
            tw-border-transparent;
          }
        }
      }
    }
    .bbs-list-item {
      @apply tw-flex
      tw-w-full
      tw-items-center
      tw-px-3
      tw-py-2;
      &:not(:last-child) {
        @apply tw-border-b tw-border-border;
      }
      :first-child {
        @apply tw-flex-grow;
      }
      .bbs-list-item-title {
      }
      .bbs-list-item-subtext {
        @apply tw-text-sm
        tw-text-text-secondary;
      }
    }
  }
  .bbs-accordion {
    @apply tw-overflow-hidden
    tw-rounded-lg
    tw-border
    tw-border-border;
    .bbs-accordion-item {
      @apply tw-relative;

      .bbs-accordion-header {
        @apply tw-flex
        tw-w-full
        tw-gap-2
        tw-bg-bg-tertiary
        tw-py-3
        tw-pe-4
        tw-ps-3
        hover:tw-bg-bg-component-hover
        active:tw-bg-bg-component-active;
        .label {
          @apply tw-flex
          tw-flex-col
          tw-items-start
          tw-gap-1;
        }
        .expand-icon {
          transition: all 250ms;
          display: inline-block;
        }
      }

      &.open {
        .bbs-accordion-header {
          .expand-icon {
            transform: rotate(180deg);
          }
        }
        .bbs-accordion-content {
          .content-wrapper {
            @apply tw-py-4;
            height: unset;
          }
        }
      }
      .bbs-accordion-content {
        @apply tw-grid
        tw-bg-bg-primary;
        .content-wrapper {
          @apply tw-px-4;
          height: 0px;
          overflow: hidden;
        }
      }
    }
    .bbs-accordion-item:not(:last-child) {
      @apply tw-border-b
      tw-border-border;
    }
  }
  .search-selection-container {
    @apply tw-grid
    tw-grid-cols-1
    tw-gap-6
    lg:tw-grid-cols-2;
    .search-form {
      @apply max-lg:tw-order-last;
    }
    .selected-criteria {
      @apply /*
      in
      lg
      screen size there are two columns */ tw-top-[69px] tw-self-start tw-overflow-y-auto
      lg:tw-sticky
      lg:tw-h-[calc(100vh-45px)];
    }
  }
  /* Bootstrap tooltip */
  .tooltip {
    z-index: 1000;
  }

  .search-criteria-group {
    @apply tw-mt-4;
    .title-container {
      @apply tw-flex
      tw-items-center;
      .label {
        @apply tw-flex-grow;
      }
    }
    .content-container {
      @apply tw-flex
      tw-flex-col
      tw-gap-2
      tw-rounded-md
      tw-border
      tw-border-border
      tw-bg-bg-primary
      tw-p-4;
      .subheading {
        @apply tw-text-sm
        tw-font-semibold;
      }
      .tag-container {
        @apply tw-mt-1
        tw-flex
        tw-flex-wrap
        tw-gap-2;
        .tag {
          @apply tw-whitespace-normal
          tw-rounded
          tw-border
          tw-border-border
          tw-bg-bg-secondary
          tw-px-2
          tw-py-1
          tw-font-mono
          tw-text-xs;
        }
      }
    }
  }

  .mulSel-tag-container {
    @apply tw-mt-1
    tw-flex
    tw-flex-wrap
    tw-gap-1;

    button {
      @apply tw-max-w-xs;
    }
  }

  .collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    &.partial-2-5 {
      height: 2.5rem;
    }
    &.partial-4 {
      height: 4rem;
    }
    &.partial-8 {
      height: 8rem;
    }
  }

  .partial.collapsed {
    height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bbs-alert {
    @apply tw-overflow-clip
    tw-rounded-lg
    tw-border
    tw-border-border
    tw-bg-bg-primary
    tw-text-sm;

    &.alert-info {
      @apply tw-border tw-border-indigo-300;
      .alert-title {
        @apply tw-bg-indigo-50 tw-text-indigo-900;
      }
      .alert-content {
        @apply tw-border-t tw-border-indigo-300;
      }
    }

    &.alert-attention {
      @apply tw-border tw-border-yellow-700;
      .alert-title {
        @apply tw-bg-yellow-50 tw-text-yellow-900;
      }
      .alert-content {
        @apply tw-border-t tw-border-yellow-700;
      }
    }

    &.alert-special {
      @apply tw-border tw-border-violet-700;
      .alert-title {
        @apply tw-bg-violet-50 tw-text-violet-900;
      }
      .alert-content {
        @apply tw-border-t tw-border-violet-700;
      }
    }

    .alert-title {
      @apply tw-flex
      tw-gap-1
      tw-px-3
      tw-py-2;
    }
    .alert-content {
      @apply tw-flex tw-flex-col tw-gap-2 tw-p-3;
    }
  }

  .photo-reel {
    @apply tw-relative;
    .images {
      scroll-behavior: smooth;
      @apply tw-flex
      tw-w-full
      tw-max-w-full
      tw-gap-x-2
      tw-overflow-auto
      tw-px-6;
      img {
        @apply tw-h-[150px]
        tw-rounded;
      }
    }

    .edge-gradient {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      pointer-events: none;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    button {
      position: absolute;
      top: 40%;
      @apply tw-text-2xl;
      &.next {
        right: 0;
      }
    }
  }

  .company-hero {
    height: 208px;
    img.backdrop {
      display: flex;
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
    .company-logo {
      @apply tw-absolute
        -tw-mt-20
        tw-ml-4
        tw-rounded-lg
        tw-border
        tw-border-border
        tw-bg-bg-primary
        tw-p-3;
      img {
        @apply tw-h-28
        tw-max-w-[300px]
        tw-rounded-[4px]
        tw-object-contain;
      }
    }
  }
  .company-bio {
    @apply tw-flex tw-flex-col tw-gap-2 tw-px-4;
  }

  .company-tags {
    @apply tw-flex tw-flex-wrap tw-gap-1;
  }
  .company-address {
    @apply text-base tw-font-semibold tw-text-text-secondary;
  }
  .company-phone {
    @apply text-sm tw-flex tw-flex-col tw-flex-wrap tw-gap-2 tw-text-text-secondary;
    > * {
      @apply tw-flex tw-w-full tw-gap-1;
      > * {
        @apply tw-overflow-hidden tw-text-ellipsis tw-whitespace-nowrap;
      }
    }
  }

  /* company details page */
  .company-overview {
    @apply tw-grid
    tw-grid-cols-1
    tw-gap-4
    tw-px-4
    md:tw-grid-cols-12;
  }

  .company-performance,
  .company-updates-news,
  .company-business-details,
  .company-contacts,
  .company-notes,
  .company-updates,
  .company-claims,
  .company-chains,
  .company-branches,
  .company-arreports {
    @apply tw-px-4;
  }

  .page-heading {
    @apply tw-flex tw-items-center
    tw-gap-4 tw-px-4 tw-pt-4 tw-text-center tw-text-lg tw-font-semibold;
    &::after,
    &::before {
      content: "";
      @apply tw-h-0 tw-flex-grow tw-border-t tw-border-black;
    }
  }

  .bbs-card {
    .bbs-card-body {
      @apply tw-rounded-lg
      tw-bg-bg-primary
      tw-p-4
      tw-outline
      tw-outline-1
      tw-outline-border;
      & > :last-child {
        @apply tw-rounded-b-lg;
      }
      & > :first-child {
        @apply tw-rounded-t-lg;
      }
      &.no-padding {
        @apply tw-p-0;
      }
    }
    &.bbs-card-alert {
      .bbs-card-body {
        @apply tw-rounded-lg
        tw-border
        tw-border-yellow-700
        tw-bg-yellow-50
        tw-p-4;
      }
      .card-title {
        @apply tw-mb-2
        tw-text-yellow-900;
      }
    }
  }

  .bbs-card-bordered {
    @apply tw-rounded-lg
      tw-border-border
      tw-bg-bg-primary
      tw-outline
      tw-outline-1
      tw-outline-border;

    .bbs-card-header {
      @apply tw-rounded-t-lg
      tw-border-b
      tw-bg-bg-tertiary
      tw-p-3
      tw-font-semibold;
    }
    .bbs-card-body {
      @apply tw-rounded-b-lg
      tw-p-3;
      &.no-padding {
        & > :last-child {
          @apply tw-rounded-b-lg;
        }
        @apply tw-p-0;
      }
    }
  }

  chart-slider {
    .current-value {
      @apply tw-flex
        tw-text-xl
        tw-font-semibold;
      top: -12px;
    }
    .stops {
      @apply tw-relative tw-flex tw-flex-col
      tw-gap-1
      tw-text-xs
      tw-text-text-tertiary;
      & > * {
        @apply tw-flex tw-justify-between;
      }
      .value {
        @apply tw-relative
        tw-top-[-4px]
        tw-flex
        tw-rounded-full
        tw-border-2
        tw-border-white
        tw-bg-brand
        tw-text-base
        tw-font-semibold;
        height: 13px;
        width: 13px;
        z-index: 1;
      }
      .dot {
        @apply tw-text-text-primary
        tw-mix-blend-luminosity;
      }
      .steps {
        @apply tw-flex
        tw-flex-col
        tw-items-center;
        z-index: 1;
      }
      .gradient {
        @apply tw-relative
        tw-w-full
        tw-text-text-primary/50;
        background: linear-gradient(
          90deg,
          #b91c1c 0%,
          #fbbf24 50%,
          #15803d 100%
        );
        height: 5px;
        margin-top: -13px;
        padding-bottom: 1px;
      }
    }
  }

  chart-box {
    div > * {
      @apply tw-grow
        tw-text-center
        tw-text-text-disabled;
      &.selected {
        @apply tw-text-white;
      }
    }
    .aa,
    .xxxx {
      &.selected {
        background-color: #15803d;
      }
      &.partial {
        outline: dashed 2px #15803d;
        outline-offset: -2px;
        color: #15803d;
      }
      background-color: #eefcf3;
    }
    .a,
    .xxx {
      &.selected {
        background-color: #6d9834;
      }
      &.partial {
        outline: dashed 2px #6d9834;
        outline-offset: -2px;
        color: #6d9834;
      }
      background-color: #f5faf0;
    }
    .b {
      &.selected {
        background-color: #b4ac2c;
      }
      background-color: #fbfaef;
    }
    .c,
    .xx {
      &.selected {
        background-color: #fbbf24;
        @apply tw-text-text-primary;
      }
      &.partial {
        outline: dashed 2px #fbbf24;
        outline-offset: -2px;
        @apply tw-text-text-primary;
      }
      background-color: #fef9eb;
    }
    .d {
      &.selected {
        background-color: #e58922;
      }
      background-color: #fdf6ed;
    }
    .e {
      &.selected {
        background-color: #cf521f;
      }
      background-color: #fcf1ed;
    }
    .f,
    .x {
      &.selected {
        background-color: #b91c1c;
      }
      background-color: #fceeee;
    }
  }
  .help-popover {
    @apply tw-shadow-lg;
    .popover-header {
      @apply tw-px-4
      tw-py-2
       tw-font-semibold;
    }
    .popover-body {
      @apply tw-flex
      tw-flex-col
      tw-gap-2
      tw-text-sm;
      ol {
        padding: 10px;
        list-style: auto;
      }
    }
  }

  /* Bootstrap overrides */
  /* This is to bring back the chrvron in the select */
  select.form-control {
    appearance: auto;
  }
  /* Table inside a card-body no-padding is flushed */
  .bbs-card-body {
    .table {
      @apply tw-m-0;
      thead tr th {
        @apply tw-border-b tw-bg-bg-tertiary tw-font-semibold;
      }
      tr {
        &:not(:last-child) {
          @apply tw-border-b;
        }
      }
      td,
      th {
        @apply tw-border-0 tw-p-3;
        &:not(:last-child) {
          @apply tw-border-r;
        }
      }
    }
  }

  #welcome_to_new_BBOS_modal {
    .modal-content {
      background-image: url("../assets/confetti.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .party {
      background-image: url("../assets/party.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px;
      width: 100%;
      height: 50px;
      margin: auto;
    }
    p {
      background-color: white;
    }
    .title {
      @apply tw-w-full
      tw-text-center
      tw-text-lg
      tw-font-bold;
    }
    .modal-header,
    .modal-footer {
      @apply tw-border-none tw-text-center;
    }
    .modal-body {
      @apply tw-space-y-4 tw-px-8 tw-py-0 tw-text-center;
      .features {
        @apply tw-rounded tw-border tw-bg-bg-tertiary tw-px-8 tw-py-4;
      }
      li {
        @apply tw-list-disc tw-text-left;
      }
    }
  }

  /* OLD BBOS OVERWITES */
  /* Auto Complete Flyout from the old BBOS */
  .AutoCompleteFlyout {
    @apply tw-z-[100]
    tw-flex
    tw-h-[400px]
    tw-min-w-[200px]
    tw-max-w-[400px]
    tw-flex-col
    tw-items-start
    tw-overflow-auto
    tw-rounded-md
    tw-border
    tw-border-border
    tw-bg-white
    tw-bg-opacity-100
    tw-text-text-primary
    tw-opacity-100
    tw-shadow-lg;
  }

  .AutoCompleteFlyoutItem,
  .AutoCompleteFlyoutShadeItem,
  .AutoCompleteFlyoutHilightedItem {
    @apply tw-w-full
    tw-border-b
    tw-border-border
    tw-p-3
    tw-text-left
    tw-text-sm
    tw-text-text-primary;
    .AutoCompleteFlyoutItem-title {
      @apply tw-font-semibold tw-text-text-primary;
    }
    .AutoCompleteFlyoutItem-subtext {
      @apply tw-text-xs
      tw-text-text-secondary;
    }
  }

  .AutoCompleteFlyoutHilightedItem {
    @apply tw-bg-bg-component-hover;
  }

  .home-info-blocks {
    &.block-1,
    &.block-2,
    &.block-3 {
      @apply tw-h-full
      tw-overflow-clip
      tw-rounded-lg
      tw-border-brand
      tw-text-text-primary-dark
      tw-shadow-none;
      background-image: url("/public/assets/slanted-gradient.svg");
      background-repeat: no-repeat;
      background-size: cover;

      a {
        @apply tw-text-text-primary-dark tw-underline;
      }
      li {
        list-style: disc !important;
      }
      .home-info-blocks-header {
        @apply tw-flex
        tw-w-full
        tw-gap-2
        tw-bg-black/30
        tw-p-3
        tw-text-lg
        tw-font-semibold
        tw-text-text-primary-dark;
      }
      .home-info-blocks-content {
        @apply tw-p-3;
      }
    }
    &.block-1 {
      @apply tw-border tw-bg-bg-tertiary;
      background-image: url("../assets/liquid-cheese-1.svg");
      /* .home-info-blocks-header {
        background-color: #475569;
      } */
    }
    &.block-2 {
      @apply tw-border tw-bg-bg-tertiary;
      background-image: url("../assets/liquid-cheese-2.svg");
      /* .home-info-blocks-header {
        background-color: #00c400;
      } */
    }
    &.block-3 {
      @apply tw-border tw-bg-bg-tertiary;
      background-image: url("../assets/liquid-cheese-3.svg");
      /* .home-info-blocks-header {
        background-color: #0062af;
      } */
    }
  }

  /* for the watchdog table */
  td {
    a {
      @apply tw-flex tw-gap-2;
    }
  }
  .digicert img {
    @apply tw-h-5;
  }

  /* END OF OLD BBOS OVERWITES */
  /* end of the layer components */
}

/* Sets the company profile for printing */
body.for-print {
  #bdSidebar,
  .top-nav,
  .backdrop,
  .footer,
  #companyPrintButton {
    @apply tw-hidden;
  }
  .content {
    background-color: white;
  }
  #printHeader {
    display: flex !important;
  }
  .company-hero {
    height: 10rem;
    .company-logo {
      margin-top: 1rem;
    }
  }
  chart-box .selected {
    border: 1px solid black;
  }
  chart-slider {
    .stops {
      .gradient,
      .value.dot {
        border: 1px solid black;
      }
    }
  }
  .accordion-item .collapse:not(.show) {
    display: block;
  }
}

.main-content-old {
  width: 100%;
}

#subMenuBar {
  display: flex;
  align-items: center;
  gap: 8px;
  .items {
    display: flex;
    overflow: hidden;
  }
}
